{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <h2 class="mb-4">Matéria(s) e Turma(s)</h2>

    {% if materias_com_turmas %}
      <div class="row">
        {% for materia, turmas in materias_com_turmas.items %}
          <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
              <div class="card-body">
                <h5 class="card-title">{{ materia.nome }}</h5>
                <p class="card-text">Turmas:</p>
                <ul class="list-group list-group-flush">
                  {% for turma in turmas %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      {{ turma.nome }}
                      <a href="{% url 'ver_turma_professor' materia.id turma.id %}" class="btn btn-sm btn-outline-secondary">
                        <img src="{%static 'assets/img/turmas_professor.png'%}" width='25px' height='25px' class="me-2">
                        Ver
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning">Nenhuma matéria ou turma vinculada.</div>
    {% endif %}
  {% endblock content %}