{% extends 'base.html' %}
{% load static %}

    {% block content %}
      <h2>Detalhes do Aluno</h2>
      <div class="card p-4 shadow-sm mt-4">
        <h4>{{ aluno.get_full_name }}</h4>
        <p><strong>Email:</strong> {{ aluno.email }}</p>
        {% with cpf=aluno.cpf %}
          <p><strong>CPF:</strong> {{ cpf|slice:":3" }}.{{ cpf|slice:"3:6" }}.{{ cpf|slice:"6:9" }}-{{ cpf|slice:"9:" }}</p>
        {% endwith %}

        {% with rg=aluno.rg %}
          <p><strong>RG:</strong> {{ rg|slice:":2" }}.{{ rg|slice:"2:5" }}.{{ rg|slice:"5:8" }}-{{ rg|slice:"8:" }}</p>
        {% endwith %}
        <p>
          <strong>Data de Nascimento:</strong>
          {{ aluno.data_nascimento|date:"d/m/Y"|default:"Não informada" }}
        </p>
        <p><strong>Sexo:</strong> {{ aluno.get_sexo_display }}</p>
        <p><strong>Cor da Pele:</strong> {{ aluno.get_cor_pele_display }}</p>

        <hr />
        <p><strong>Turma:</strong></p>
        <ul>
          {% for turma in turmas %}
          <li>{{ turma.nome }}</li>
          {% empty %}
          <li>Nenhuma turma atribuída</li>
          {% endfor %}
        </ul>

        <a href="{% url 'gerenciar_alunos' %}" class="btn btn-secondary mt-3"
          >Voltar</a
        >
      </div>
    {% endblock content %}