{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}

    {% block content %}
      <h2 class="mb-4">Editar Aluno</h2>

      {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Erro ao salvar o aluno:</strong>
        <ul>
          {% for field in form %} {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
          {% endfor %} {% endfor %}
        </ul>
      </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Primeiro nome</label>
            {{ form.first_name|add_class:"form-control" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>Último nome</label>
            {{ form.last_name|add_class:"form-control" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>Data nascimento</label>
            {{ form.data_nascimento|add_class:"form-control"|attr:"id:id_data_nascimento" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>Cor da Pele</label>
            {{ form.cor_pele|add_class:"form-select" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>CPF</label>
            {{ form.cpf|add_class:"form-control" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>RG</label>
            {{ form.rg|add_class:"form-control" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>Sexo</label>
            {{ form.sexo|add_class:"form-select" }}
          </div>
          <hr class="my-4" />
          <div class="col-md-12 mb-3">
            <label class="mb-3"><strong><h2 class="mb-4">Turma</h2></strong></label>
            {% for radio in form.turmas %}
              <div class="form-check mb-1">
                {{ radio.tag }}
                <label class="form-check-label ms-1">{{ radio.choice_label }}</label>
              </div>
            {% endfor %}
          </div>

          <div class="col-md-12 d-flex gap-2 mt-4">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'gerenciar_alunos' %}" class="btn btn-secondary">Cancelar</a>
          </div>
      </form>
    {% endblock content %}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/inputmask.min.js' %}"></script>
    <script src="{% static 'js/inputmask.binding.js' %}"></script>
    <script src="{% static 'js/editar.js' %}"></script>
    {% endblock scripts %}