{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}

    {% block content %}
      <h2 class="mb-4">Cadastro de Professor</h2>

      {% if form.errors or formset.errors or formset.non_form_errors %}
        <div class="alert alert-danger">
          <strong>Erro ao salvar o professor:</strong>
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
              {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}

            {% for form in formset.forms %}
              {% for field in form %}
                {% for error in field.errors %}
                  <li><strong>{{ field.label }} (Formset):</strong> {{ error }}</li>
                {% endfor %}
              {% endfor %}
            {% endfor %}

            {% for error in formset.non_form_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Nome</label>
            {{ form.first_name|add_class:"form-control" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>Sobrenome</label>
            {{ form.last_name|add_class:"form-control" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>Data de Nascimento</label>
            {{ form.data_nascimento|add_class:"form-control"|attr:"id:id_data_nascimento" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>Cor da Pele</label>
            {{ form.cor_pele|add_class:"form-select" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>CPF</label>
            {{ form.cpf|add_class:"form-control" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>RG</label>
            {{ form.rg|add_class:"form-control" }}
          </div>
          <div class="col-md-6 mb-3">
            <label>Sexo</label>
            {{ form.sexo|add_class:"form-select" }}
          </div>
        </div>

        <hr class="my-4" />

        <h2 class="mb-4">Vincular Matéria e Turma</h2>
        {{ formset.management_form }}
        {% for subform in formset %}
          <div class="row mb-3 border rounded p-3">
            <div class="col-md-6 mb-2">
              {{ subform.materia.label_tag }}
              {{ subform.materia|add_class:"form-select" }}
            </div>
            <div class="col-md-6 mb-2">
              {{ subform.turma.label_tag }}
              {{ subform.turma|add_class:"form-select" }}
            </div>
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mt-3"
          >Cancelar</a
        >
      </form>
    {% endblock content %}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/inputmask.min.js' %}"></script>
    <script src="{% static 'js/inputmask.binding.js' %}"></script>
    <script src="{% static 'js/cadastro.js' %}"></script>
    {% endblock scripts %}