{% extends 'base.html' %}
{% load static %}

    {% block content %}
      <h2>Detalhes do Professor</h2>
      <div class="card p-4 shadow-sm mt-4">
        <h4>{{ professor.get_full_name }}</h4>
        <p><strong>Email:</strong> {{ professor.email }}</p>
        {% with cpf=professor.cpf %}
          <p><strong>CPF:</strong> {{ cpf|slice:":3" }}.{{ cpf|slice:"3:6" }}.{{ cpf|slice:"6:9" }}-{{ cpf|slice:"9:" }}</p>
        {% endwith %}

        {% with rg=professor.rg %}
          <p><strong>RG:</strong> {{ rg|slice:":2" }}.{{ rg|slice:"2:5" }}.{{ rg|slice:"5:8" }}-{{ rg|slice:"8:" }}</p>
        {% endwith %}
        <p>
          <strong>Data de Nascimento:</strong>
          {{ professor.data_nascimento|date:"d/m/Y"|default:"Não informada" }}
        </p>
        <p><strong>Sexo:</strong> {{ professor.get_sexo_display }}</p>
        <p>
          <strong>Cor da Pele:</strong> {{ professor.get_cor_pele_display }}
        </p>

        <hr />
        <p><strong>Matéria(s) e Turma(s):</strong></p>
        <ul>
          {% if vinculos %} {% for v in vinculos %}
          <li>{{ v.materia.nome }} — {{ v.turma.nome }}</li>
          {% endfor %} {% else %}
          <li>Nenhuma matéria ou turma atribuída</li>
          {% endif %}
        </ul>

        <a
          href="{% url 'gerenciar_professores' %}"
          class="btn btn-secondary mt-3"
          >Voltar</a
        >
      </div>
    {% endblock content %}