{% extends 'base2.html' %}
{% load static %}
{% block styles %}
    <style>
      .btn-secondary {
            --bs-btn-color: #fff;
            --bs-btn-bg: #495057;
            --bs-btn-border-color: #ff6495057a00;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #495057;
            --bs-btn-hover-border-color: #495057;
            --bs-btn-focus-shadow-rgb: 206, 212, 218;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #495057;
            --bs-btn-active-border-color: #495057;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #495057;
            --bs-btn-disabled-border-color: #495057;
          }
          
      .btn-secondary img {
        filter: brightness(0) invert(1); 
      }
    </style>
{% endblock styles %}

  {% block content %}
    <h2>Meu Perfil</h2>
    <div class="card p-4 shadow-sm mt-4">
      <p><strong>Nome:</strong> {{ user.get_full_name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Tipo:</strong> {{ user.get_tipo_display }}</p>
      {% if user.cpf %}
      {% with cpf=user.cpf %}
          <p><strong>CPF:</strong> {{ cpf|slice:":3" }}.{{ cpf|slice:"3:6" }}.{{ cpf|slice:"6:9" }}-{{ cpf|slice:"9:" }}</p>
        {% endwith %}
        {% else %}
          <p><strong>CPF:</strong> None</p>
        {% endif %}

      {% if user.rg %}  
      {% with rg=user.rg %}
          <p><strong>RG:</strong> {{ rg|slice:":2" }}.{{ rg|slice:"2:5" }}.{{ rg|slice:"5:8" }}-{{ rg|slice:"8:" }}</p>
        {% endwith %}
        {% else %}
          <p><strong>RG:</strong> None</p>
        {% endif %}
      {% if user.data_nascimento %}
        <p><strong>RG:</strong> {{ user.data_nascimento|date:"d/m/Y" }}</p>
      {% else %}
        <p><strong>Data de Nascimento:</strong> None</p>
      {% endif %}
      <p><strong>Sexo:</strong> {{ user.get_sexo_display }}</p>
      <p><strong>Cor da Pele:</strong> {{ user.get_cor_pele_display }}</p>

      {% if turmas %}
        <hr>
        <p><strong>Turmas:</strong></p>
        <ul>
          {% for turma in turmas %}
            <li>{{ turma.nome }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if vinculos %}
        <hr>
        <p><strong>Matérias e Turmas:</strong></p>
        <ul>
          {% for v in vinculos %}
            <li>{{ v.materia.nome }} — {{ v.turma.nome }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
        {% if user.tipo == 'admin' %}
          <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mt-4">
            <img src="{%static 'assets/img/voltar.png'%}" width='20px' height='20px' class="me-2">
      Voltar
          </a>
        {% elif user.tipo == 'professor' %}
          <a href="{% url 'professor_dashboard' %}" class="btn btn-secondary mt-4">
            <img src="{%static 'assets/img/voltar.png'%}" width='20px' height='20px' class="me-2">
      Voltar
          </a>
        {% elif user.tipo == 'aluno' %}
          <a href="{% url 'aluno_dashboard' %}" class="btn btn-secondary mt-4">
            <img src="{%static 'assets/img/voltar.png'%}" width='20px' height='20px' class="me-2">
      Voltar
          </a>
        {% endif %}
        {% if user.tipo == 'professor' or user.tipo == 'aluno' %}
        <a href="{% url 'alterar_senha' %}" class="btn btn-secondary mt-4">Alterar Senha</a>
      {% endif %}
      </div>
    </div>
  {% endblock content %}